Click==7.0
dash==1.1.1
dash-core-components==1.1.1
dash-html-components==1.0.0
dash-renderer==1.0.0
dash-table==4.1.0
Flask==1.1.1
Flask-Compress==1.4.0
gunicorn==19.9.0
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
-e git+https://github.com/AndrewChap/mortgagetvm.git@9be47371983f2f883be74c02e3eddad2746b6eb9#egg=mortgagetvm
numpy==1.17.0
pandas==0.24.2
plotly==4.1.0
python-dateutil==2.8.0
pytz==2019.2
PyYAML==5.4
retrying==1.3.3
six==1.12.0
Werkzeug==0.15.5
